/* CSS Document */

a 	  { text-decoration: none }

a:hover { text-decoration: underline;
          color: red;
          background-color: #CCFFCC }

li em   { color: red; 
          font-weight: bold }

ul	  { margin-left: 2cm }

ul ul	  { text-decoration: underline; 
          margin-left: .5cm }
