.horizontal-list
  list-style-type none
  
  .list-item
    float left
    border-right 1px solid #ccc
    
    &:last-of-type
      border-right none
.link
  color #59f
  display inline-block
  padding 5px 15px
  text-decoration none
  &:hover
    text-decoration underline
  