vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args
.button
  vendor('opacity', 0.5)
  vendor('border-radius', 5px)
  
  display inline-block
  padding 5px 15px
  color black
  text-decoration none
  background #ddd
  box-shadow 3px 2px 1px #ccc
  border 1px solid #222
  font-size 14px
  font-family Corbel
  
  &:hover
    box-shadow -3px -2px 1px #ccc