@import 'utils.styl'
.box
  width 150px
  height @width
  float left
.box-1
  linearGradient(green pink)
.box-2
  linearGradient((green 45%) (pink 90%))
.box-3
  linearGradient((green 15%) white (pink 90%))
  
  // background: -moz-linear-gradient(top,  fromColor fromPos, toColor toPos);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(fromPos,fromColor), color-stop(toPos,toColor));
  // background: -webkit-linear-gradient(top,  fromColor fromPos,toColor toPos);
  // background: -o-linear-gradient(top,  fromColor fromPos,toColor toPos); 
  // background: -ms-linear-gradient(top,  fromColor fromPos,toColor toPos);
  // background: linear-gradient(to bottom,  fromColor fromPos,toColor toPos);
  
