#root {
  width: 960px;
  margin: 0 auto;
  font-size: 18px;
  background-color: #ccc;
  padding: 15px 0 0 0;
}
.header {
  font-size: 1.7em;
  text-align: center;
}
.description {
  margin: 15px 45px;
  background-color: rgba(102,102,102,0.8);
  padding: 25px 55px;
  border-radius: 15px;
  border: 3px solid #fff;
}
.remark {
  text-align: center;
}
.container {
  padding: 15px;
}
.heroes-list {
  list-style-type: none;
}
.heroes-list .hero-item {
  display: inline-block;
  width: 24%;
}
.heroes-list .hero-item h2 {
  font-size: 1.1em;
  text-align: center;
}
.heroes-list .hero-item .description {
  position: relative;
  margin: 0;
  font-size: 1.1em;
  background-color: rgba(102,102,102,0.8);
  height: 200px;
  text-align: justify;
  padding: 15px;
  z-index: 999;
  border-radius: 5px;
}
.heroes-list .hero-item img {
  position: relative;
  left: -40px;
  top: -80px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}
